test:
  domain: {{ test.domain }}

development:
  domain: "{{ development.domain }}"

production:
  domain: "{{ production.domain }}"
  # whether this instance of canvas is served over ssl (https) or not
  # defaults to true for production, false for test/development
  ssl: true
  # files_domain: "canvasfiles.example.com"
